header {
    height: 100%;
    overflow: hidden;
    width: 17em;
    position: fixed;
    margin: 0;
    background-color: white;
    text-align: center;
    .logo {
        text-transform: uppercase;
    }
    nav {
        height: 100%;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30%;
            justify-content: space-between;
            li {
                text-transform: uppercase;
                a.active {
                    border-bottom: 1px solid black;
                    padding-bottom: 10px;
                }
            }
        }
    }
    
}
