.Home {
    margin-left: 290px;
    >ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    text-transform: uppercase;
    padding-top: 50px;
        li {
            a {
                padding-bottom: 10px;
                display: block;
                &.selected {
                    border-bottom: 1px solid black;
                } 
            }               
        }
    }
    .menuList {
        display: flex;
        .slick-slider, .info {
           width: 48%;
        }
        .info {
            background-color: white;
            margin: 20px 10px;
        }
    }
    
}